.program{
    width: 300px;
    height: 300px;
    display: inline-block;
    border: black;
    border-radius: 7px;
    border-style: groove;
    border-width: 5px;
    margin: 10px;
}
.program h3{
    background-color: black;
    color: white;
}
.program img{
    width: 300px;
    height: 300px;
}